*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins',sans-serif;
}

h1,
h2,
p{
    font-family: 'Saira',sans-serif;
    color: #fff;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
span{
    color: white;
    margin: 0 5px;
}
.btn-color{
    color: white;
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding: 0 2rem;
}
/* Header Start */
#header,
#css{
    background-color: #0B2447;
}
#header{
    height: 100vh;
}

.navbar{
    background-color: #0B2447;
    z-index: 1;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}
#header #logo{
    font-size: 2rem;
    font-weight: bold;
}
#header .navbar nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-list li a{
    margin-left: 20px;
    cursor: pointer;
    position: relative;
    font-weight: 600;
}
.header-list li a:hover{
    color: #576CBC;
}

.header-content{
    max-width: 1300px;
    margin: auto;
    padding: 4rem 1.5rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header .header-content .content-text,p{
    margin: 3rem 0;
    text-align: center;
}

.content-text h1{
    font-size: 4rem;
    margin: 20px 0;
    font-family: "Sacramento", cursive;
}
.btn-about{
    display: inline-block;
    background-color: #576CBC;
}

/* Header End */
/* HTML Start */

    #html,
    #css,
    #javascript{
        padding: 6rem 0;
    }
    #html h2,
    #css h2,
    #javascript h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    #html{
        background-color: #19376D;
    }
    .html-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,170px);
        gap: 5%;
        margin-top: 4rem;
    }

    .html-content div{
        background-color: #0B2447;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        border-radius: 20px;
        cursor: pointer;
    }
    .html-content div:hover{
        box-shadow: 0 3px 6px rgba(87,108,188,0.7), 0 3px 6px rgba(87,108,188,0.7);
    }
    .html-item{
        grid-column-start: 1;
        grid-column-end: 4;
    }

/* HTML End */

/* css Start */

    .css-content{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(5,120px);
        gap: 3%;
        margin-top: 2rem;
        
    }
    .css-content div{
        
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        background-color: #19376D;
    }
    .css-item1{
        grid-column-start: 1;
    grid-column-end: 3;
    }
    .css-item2{
            grid-column-start: 3;
            grid-column-end: 5;
    }
    .css-content div:hover{
        box-shadow: 0 3px 6px rgba(87,108,188,0.7), 0 3px 6px rgba(87,108,188,0.7);
    }
/* css End */
/* javascript start */
    #javascript{
        background-color: #19376D;
    }
    .javascript-content{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3,100px);
        gap: 5%;
        margin-top: 3rem;
    }


    .javascript-content div{
        background-color: #0B2447;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;
    }
    .js-item{
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .javascript-content div:hover{
        box-shadow: 0 3px 6px rgba(87,108,188,0.7), 0 3px 6px rgba(87,108,188,0.7);
    }
/* javascript End */


